[bB]in/
obj/
[dD]ebug/
[rR]elease/
*.user
*.cache
*.log*
*log.txt*
*.suo
_Re[sS]harper.*/
*.[Rr]e[Ss]harper
*.touch
*.aps
*.eto
*.scc
*.SCC
*.tmp
*.ncb
*.svclog
*.swp
*~
*.orig
*_SHA1_*.*
BuildOutput/
[aA]pp.config
[wW]eb.config
.DS_Store
*.ncrunchsolution
*.ncrunchproject
*.DotSettings*

/packages
packages.config

/DEV/version.txt

*.xsx
Backout/
Upgrade/
i.am.in.sbs.mode
personalized.release.xml
